on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Docker Login to DHI
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        env:
          CADDY_VERSION: 2.10.2
        with:
          context: .
          push: true
          tags: touhidurrr/hardenen-caddy-cloudflare:latest,touhidurrr/hardenen-caddy-cloudflare:${{ env.CADDY_VERSION }}
